.hourContainer{
    margin-top: 12vh;
    
    height:150px;
    display:flex;
    color: white;
    overflow-x: scroll;
    padding:10px;
    
}
@media screen and (max-height:600px)
{
    .hourContainer{
        margin-top: 1vh;
        
    }
}
::-webkit-scrollbar {
    display: none;
}

.hourDetails
{
    width:350px;
    height:90px;
    margin-right:9px;
    font-size: 17px;
    padding:25px;
    border-radius: 15px;
    background: rgba(255,255,255,0.15);
    
    
}
.infocard{
    margin-bottom: 6px;
}

img{
    width:35px;
    height: auto;
    margin-top:2px;
    margin-bottom: 2px;
    
}
/* .infocard img{
    filter: invert(96%) sepia(20%) saturate(6169%) hue-rotate(5deg) brightness(111%) contrast(108%);
} */
.infocard img{
    filter: invert(96%);
}